@{
    Layout = null;
}




<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div>
        <br />
        <div class="row">
            <div class="col-md-6 mb-2">
                <input type="text" class="form-control" name="adult" placeholder="Yetişkin " />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" class="form-control" name="child" placeholder="Çocuk Sayısı " />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" class="form-control" name="checkindate" placeholder="Giriş Tarihi" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" class="form-control" name="checkoutdate" placeholder="Çıkış Tarihi" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" class="form-control" name="roomnumber" placeholder="Oda Sayısı" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" class="form-control" name="cityID" placeholder="Şehir ID" />
            </div>
            <br />
            <button class="btn btn-primary"> Hotel Ara</button>

        </div>
    </div>
</form>